@model CategoryCreateViewModel

@{
    ViewData["Title"] = "New Category";
}

<h1>Yeni Kategori Oluştur</h1>

<form method="post" asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name">Kategori Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Kaydet</button>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @if (TempData["SuccessMessage"] != null)
    {
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            Swal.fire({
                title: 'Tebrikler!',
                text: '@Html.Raw(TempData["SuccessMessage"])',
                icon: 'success',
                confirmButtonText: 'Tamam'
            });
        </script>
    }
}